<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <div>
    <h2>Device Data</h2>
    <p>Temperature: <%= temperature %>&deg;C</p>
    <p>Humidity: <%= humidity %>%</p>
    <p>Pressure: <%= pressure %>hPa</p>
    <p>Aprox. Altitude: <%= altitude %>m</p>
    <p>Last update: <%= timestamp %></p>
  </div>

</body>
</html>